.products{
    width: 100%;
    display: flex;
    align-items: center;
}

.products ul{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(160px, 1fr)
    );
    gap: 1.5rem;
    margin: 3% auto;
    max-width: 700px;
    width: 100%;
    padding: 10px;
    
    
}

.products li{
    display: flex;
    flex-direction: column;

    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    background: #373739;
    color: #fff;
    padding: 1rem;

}

.products img{
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 14/9;
    display: block;
    object-fit: fill;
    background-color: #fff;
}